  @media screen and (min-width: 801px)
.site-search, .leftcolumn, .social {
    display: block!important;
}

@media screen and (max-width: 1280px)
.leftcolumn {
    width: 230px;
}

.leftcolumn {
    width: 240px;
    float: left;
    font-size: 16px;
    color: #4f4f4f;
}

@media screen and (max-width: 1280px)
.centercolumn {
    width: 820px;
}

.centercolumn {
    width: 850px;
    float: left;
}

div {
    display: block;
}

@media screen and (max-width: 1280px)
.wrapper {
    width: 1260px;
}

.wrapper {
    width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

